<% content_for :title, "Editing membership history" %>

<h1>Editing membership history</h1>

<%= render "form", membership_history: @membership_history %>

<br>

<div>
  <%= link_to "Show this membership history", @membership_history %> |
  <%= link_to "Back to membership histories", membership_histories_path %>
</div>
