<% content_for :title, "Editing membership plan" %>

<h1>Editing membership plan</h1>

<%= render "form", membership_plan: @membership_plan %>

<br>

<div>
  <%= link_to "Show this membership plan", @membership_plan %> |
  <%= link_to "Back to membership plans", membership_plans_path %>
</div>
